.fluentwhiteboard20RegularIcon {
  position: relative;
  width: 112.34px;
  height: 112.34px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.apclassroom {
  position: relative;
  font-weight: 500;
  display: inline-block;
  width: 362.31px;
  height: 67.41px;
  flex-shrink: 0;
}
.apclassroomLogo,
.fluentwhiteboard20RegularParent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.fluentwhiteboard20RegularParent {
  flex: 1;
  gap: 12px;
}
.apclassroomLogo {
  align-self: stretch;
}
.apclassroomLogoWrapper {
  flex: 1;
  background-color: var(--color-dodgerblue-100);
  height: 1024px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 400px 0;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
}
.apclassroom1 {
  align-self: stretch;
  position: relative;
  font-size: 40px;
  font-weight: 500;
  font-family: var(--font-inter);
  color: var(--gray-black);
  text-align: left;
  display: inline-block;
  height: 67.41px;
  flex-shrink: 0;
}
.textField {
  border: 0;
  background-color: transparent;
  align-self: stretch;
}
.button {
  cursor: pointer;
}
.loginForm {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.loginFormWrapper,
.loginPage {
  height: 1024px;
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
}
.loginFormWrapper {
  flex: 1;
  flex-direction: column;
  padding: 292px 120px;
  box-sizing: border-box;
  align-items: center;
}
.loginPage {
  position: relative;
  background-color: var(--conditional-pop-over);
  width: 100%;
  flex-direction: row;
  align-items: flex-start;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--conditional-pop-over);
  font-family: var(--font-inter);
}
