.apclassroomLogoIcon {
  position: relative;
  width: 40px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.apclassroom {
  position: relative;
  font-weight: 500;
}
.apclassroomLogo,
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.apclassroomLogo {
  flex-direction: row;
  gap: var(--gap-8xs-4);
  cursor: pointer;
}
.logo {
  align-self: stretch;
  background-color: var(--conditional-pop-over);
  height: 76px;
  flex-direction: column;
  padding: var(--padding-lg) var(--padding-14xl);
  box-sizing: border-box;
}
.sideNavigationBarUserProfiChild {
  position: relative;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.student {
  position: relative;
}
.roleLabel {
  border-radius: var(--br-xl);
  background-color: var(--color-limegreen);
  display: flex;
  flex-direction: row;
  padding: var(--padding-12xs) var(--padding-4xs);
  align-items: center;
  justify-content: center;
}
.janesmithgmailcom {
  position: relative;
  font-size: var(--font-size-5xs);
  color: var(--color-gray-500);
}
.jasonYuParent,
.sideNavigationBarUserProfi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.jasonYuParent {
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--gray-black);
}
.sideNavigationBarUserProfi {
  border: 1px dashed var(--color-blueviolet);
  box-sizing: border-box;
  width: 245.98px;
  padding: var(--padding-xl) 0;
  gap: var(--gap-7xs);
}
.dashboardIcon {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
  opacity: 0.6;
}
.dashboard,
.menuItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  opacity: 0.3;
  cursor: pointer;
}
.menuItem {
  text-decoration: none;
  color: inherit;
}
.bookingsIcon {
  position: relative;
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.dashboard3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
}
.alignTop,
.dashboard3,
.dashboard8 {
  justify-content: flex-start;
}
.dashboard8 {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-3xs);
  opacity: 0.3;
  cursor: pointer;
}
.alignTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.tablerlogout2Icon {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.dashboard10 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  opacity: 0.7;
  cursor: pointer;
}
.alignBottom {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-77xl);
  align-items: flex-start;
  justify-content: flex-end;
}
.centerMenuItems,
.navItems {
  flex: 1;
  justify-content: center;
}
.navItems {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-6xl);
}
.centerMenuItems {
  padding: var(--padding-31xl) 0 0;
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--gray-black);
}
.centerMenuItems,
.sideBar,
.sideMenu {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideMenu {
  flex: 1;
  background-color: var(--conditional-pop-over);
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-3xs);
  color: var(--conditional-pop-over);
}
.sideBar {
  box-shadow: 4px 0 4px rgba(0, 0, 0, 0.25);
  width: 240px;
  justify-content: space-between;
}
.text1 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
  opacity: 0.9;
}
.componentsnavbarBrand,
.text {
  background-color: var(--hitbox);
  display: flex;
}
.text {
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.componentsnavbarBrand {
  flex-direction: row;
  padding: var(--padding-8xs) var(--padding-base) var(--padding-8xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.componentsnavbarResponsiveH,
.componentsnavbarToggler {
  background-color: var(--hitbox);
  display: flex;
  align-items: center;
}
.componentsnavbarToggler {
  border-radius: var(--br-9xs);
  border: 1px solid var(--components-navs-tabs-light-toggle-border);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-8xs) var(--padding-smi);
  justify-content: center;
}
.componentsnavbarResponsiveH {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  z-index: 0;
}
.ignore {
  position: relative;
  width: 0;
  height: 0;
}
.scrollerHeightChangeHere {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-181xl);
}
.text3 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 300;
}
.text2,
.wrapper2 {
  flex: 1;
  display: flex;
}
.text2 {
  background-color: var(--hitbox);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.wrapper2 {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.navItem,
.text5 {
  align-self: stretch;
}
.navItem {
  background-color: var(--hitbox);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) 0;
  align-items: center;
  justify-content: flex-start;
}
.text5 {
  position: relative;
  line-height: 150%;
}
.inlineNavItem2ndLevel,
.submenu {
  align-self: stretch;
  justify-content: flex-start;
}
.inlineNavItem2ndLevel {
  background-color: var(--hitbox);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-5xl) var(--padding-5xs)
    var(--padding-29xl);
  align-items: center;
}
.submenu {
  background-color: var(--theme-light);
  display: none;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  align-items: flex-start;
  gap: var(--gap-5xs);
  color: var(--body-text-body-color);
  font-family: var(--body-regular1);
}
.navItem1stLevel {
  color: var(--gray-700);
}
.navItem1stLevel,
.navItem1stLevel1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.navFixedHeight,
.navbarNav,
.scroller {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navbarNav {
  width: 760px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
}
.navFixedHeight,
.scroller {
  align-self: stretch;
}
.scroller {
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
}
.navFixedHeight {
  flex-direction: row;
}
.heightChangeSizeHere,
.widthChangeSizeHere {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-sm);
}
.heightChangeSizeHere {
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.iconWrapper1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.iconWrapperH {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.iconWrapper,
.inputPrefix {
  background-color: var(--hitbox);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}
.iconWrapper {
  display: flex;
  justify-content: flex-start;
}
.inputPrefix {
  display: none;
  padding: var(--padding-12xs);
  justify-content: center;
}
.placeholder1 {
  position: relative;
  line-height: 150%;
}
.placeholder {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.inputBase,
.placeholder,
.spacer {
  justify-content: flex-start;
}
.spacer {
  display: none;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-5xs);
}
.inputBase {
  border-radius: var(--br-9xs);
  background-color: var(--conditional-pop-over);
  border: 1px solid var(--gray-400);
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-xs);
}
.formItem,
.input,
.inputBase {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.input {
  border-radius: var(--br-9xs);
  justify-content: flex-start;
}
.formItem {
  justify-content: center;
  z-index: 1;
}
.heightChangeSizeHere2,
.widthChangeSizeHere2 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.heightChangeSizeHere2 {
  transform: rotate(-90deg);
  transform-origin: 0 0;
}
.button,
.buttonList,
.icon {
  background-color: var(--hitbox);
  align-items: center;
}
.icon {
  overflow: hidden;
  display: none;
  flex-direction: column;
  justify-content: flex-start;
}
.button,
.buttonList {
  display: flex;
  flex-direction: row;
}
.button {
  border-radius: var(--br-9xs);
  border: 1px solid var(--theme-primary);
  overflow: hidden;
  padding: var(--padding-7xs) var(--padding-xs);
  justify-content: center;
  gap: var(--gap-5xs);
}
.buttonList {
  justify-content: flex-start;
  z-index: 0;
  color: var(--theme-primary);
}
.componentsnavbarCollapse,
.form {
  display: flex;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.form {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  color: var(--gray-600);
  font-family: var(--body-regular1);
}
.componentsnavbarCollapse {
  background-color: var(--hitbox);
  width: 351px;
  flex-direction: column;
  align-items: flex-start;
}
.wrapper1,
.zeroHeight {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.wrapper1 {
  top: 0;
  background-color: var(--theme-light);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding-xs) var(--padding-5xs);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.zeroHeight {
  margin: 0 !important;
  bottom: 0;
  height: 0;
  display: none;
  z-index: 1;
  font-size: var(--h5-medium-size);
  color: var(--color-gray-300);
}
.navbarresponsive {
  align-self: stretch;
  background-color: var(--theme-light);
  display: none;
  flex-direction: column;
  padding: var(--padding-5xs) var(--padding-xs);
  align-items: flex-start;
  justify-content: center;
  position: relative;
}
.bookingClassroomB0308 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-family: var(--font-inter);
  color: var(--gray-black);
  text-align: center;
}
.textField,
.textField2 {
  align-self: stretch;
}
.textField2 {
  border: 0;
  background-color: transparent;
}
.supportingText1 {
  flex: 1;
  position: relative;
  font-size: var(--m3-body-small-size);
  line-height: 16px;
  font-family: var(--body-regular);
  color: var(--m3-sys-light-on-surface-variant);
  text-align: left;
}
.form1,
.supportingText,
.textField1 {
  align-self: stretch;
  justify-content: flex-start;
}
.supportingText {
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-base) 0;
  align-items: flex-start;
}
.form1,
.textField1 {
  display: flex;
  flex-direction: column;
}
.textField1 {
  border-radius: var(--br-9xs) var(--br-9xs) 0 0;
  align-items: flex-start;
}
.form1 {
  align-items: center;
  gap: var(--gap-3xs);
}
.buttonParent,
.currentClassroomAvailability {
  align-self: stretch;
  display: flex;
  gap: var(--gap-13xl);
}
.buttonParent {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
.currentClassroomAvailability {
  border-radius: var(--br-8xs);
  background-color: var(--conditional-pop-over);
  box-shadow: var(--dashbaord-main-section-shadow);
  border: 1px solid var(--color-whitesmoke-500);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-29xl);
  align-items: center;
  justify-content: flex-start;
}
.bookingStatusIcon,
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header {
  align-self: stretch;
  padding: 0 var(--padding-31xl);
  align-items: flex-start;
}
.bookingStatusIcon {
  border-radius: var(--br-8xs);
  background-color: var(--color-honeydew);
  padding: var(--padding-8xs);
  align-items: center;
}
.b0307 {
  align-self: stretch;
  font-size: var(--h5-medium-size);
  color: var(--m3-sys-light-primary1);
}
.b0307,
.date {
  position: relative;
  font-weight: 600;
}
.details {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-10xs);
}
.purpose {
  position: relative;
  font-weight: 600;
  opacity: 0.5;
}
.b0307Parent,
.details1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.details1 {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-10xs);
}
.b0307Parent {
  flex: 1;
  flex-direction: column;
}
.button1 {
  cursor: pointer;
}
.buttonGroup {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.booking,
.bookingStatusIcon1 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.booking {
  align-self: stretch;
  background-color: var(--conditional-pop-over);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  flex-wrap: wrap;
  padding: var(--padding-13xl) var(--padding-5xl);
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.bookingStatusIcon1 {
  background-color: var(--color-oldlace);
  padding: var(--padding-8xs);
  justify-content: center;
}
.b0307Group,
.buttonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.buttonContainer {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--gap-5xs);
}
.booking1,
.bookingStatusIcon2 {
  border-radius: var(--br-8xs);
  display: flex;
  flex-direction: row;
  align-items: center;
}
.booking1 {
  align-self: stretch;
  background-color: var(--conditional-pop-over);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  flex-wrap: wrap;
  padding: var(--padding-13xl) var(--padding-5xl);
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.bookingStatusIcon2 {
  background-color: var(--color-mistyrose);
  padding: var(--padding-8xs);
  justify-content: center;
}
.b0307Container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.booking2,
.booking3,
.booking5,
.frameDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.frameDiv {
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-5xs);
}
.booking2,
.booking3,
.booking5 {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--conditional-pop-over);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.18);
  padding: var(--padding-13xl) var(--padding-5xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.reportedIssues {
  overflow-y: auto;
  padding: var(--padding-3xs);
  align-items: center;
  gap: var(--gap-3xs);
  font-size: var(--body-regular-size);
}
.mainPanel,
.reportedIssues,
.searchClassForm {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.searchClassForm {
  border-radius: var(--br-8xs);
  background-color: var(--conditional-pop-over);
  box-shadow: var(--dashbaord-main-section-shadow);
  border: 1px solid var(--color-whitesmoke-500);
  padding: var(--padding-5xl) var(--padding-31xl);
  align-items: center;
  gap: var(--gap-13xl);
}
.mainPanel {
  width: 800px;
  padding: 0 0 var(--padding-21xl);
  box-sizing: border-box;
  align-items: flex-start;
  gap: var(--gap-xl);
  min-width: 800px;
}
.sidePanel {
  align-self: stretch;
  flex: 1;
  max-width: 280px;
}
.mainPanelParent {
  align-self: stretch;
  flex: 1;
  flex-direction: row;
  padding: var(--padding-53xl) var(--padding-21xl) 0;
  gap: var(--gap-21xl);
  font-size: var(--font-size-5xl);
}
.content,
.mainPanelParent,
.studentBookClassroomForm {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  flex: 1;
  overflow-y: auto;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.studentBookClassroomForm {
  position: relative;
  background-color: var(--color-whitesmoke-300);
  width: 100%;
  height: 1024px;
  flex-direction: row;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--gray-black);
  font-family: var(--font-inter);
}
@media screen and (max-width: 1200px) {
  .sideBar {
    align-self: stretch;
    height: auto;
  }
  .booking2 {
    flex-direction: row;
    gap: var(--gap-5xl);
    align-items: center;
    justify-content: flex-start;
  }
  .studentBookClassroomForm {
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 960px) {
  .b0307Group,
  .buttonContainer {
    flex: unset;
    align-self: stretch;
  }
  .booking1 {
    flex-direction: column;
    gap: var(--gap-5xl);
    align-items: center;
    justify-content: flex-start;
  }
  .b0307Container,
  .frameDiv {
    flex: unset;
    align-self: stretch;
  }
  .booking2,
  .booking3,
  .booking5 {
    flex-direction: column;
    gap: var(--gap-5xl);
    align-items: center;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 420px) {
  .sideBar {
    display: none;
  }
  .navbarresponsive {
    display: flex;
  }
  .details1 {
    flex-direction: column;
  }
  .b0307Parent,
  .buttonGroup {
    flex: unset;
    align-self: stretch;
  }
  .booking {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .b0307Container,
  .frameDiv {
    flex: unset;
    align-self: stretch;
  }
  .booking2,
  .booking3,
  .booking5 {
    flex-direction: column;
    gap: var(--gap-5xl);
    align-items: center;
    justify-content: flex-start;
  }
  .mainPanel {
    min-width: 0;
  }
  .mainPanelParent {
    padding-left: var(--padding-xl);
    padding-top: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
